In [1]:
import pandas as pd
df = pd.read_csv("../cleaned_dataset/cleaned_label_loc.csv")

In [2]:
df.head()

                  started_at                finished_at           room floor
0  2023-04-10 14:21:46+09:00  2023-04-10 14:21:50+09:00        kitchen   5th
1  2023-04-10 14:21:55+09:00  2023-04-10 14:22:16+09:00      cafeteria   5th
2  2023-04-10 14:22:23+09:00  2023-04-10 14:23:25+09:00        kitchen   5th
3  2023-04-10 14:23:29+09:00  2023-04-10 14:23:44+09:00       cleaning   5th
4  2023-04-10 14:23:42+09:00  2023-04-10 14:24:05+09:00  nurse station   5th

In [3]:
df["room"].value_counts()

room
cafeteria        127
nurse station     96
kitchen           76
hallway           41
cleaning          28
523               16
520                8
522                6
513                6
517                5
501                4
506                4
508                4
512                4
511                4
518                4
502                4
503                3
515                3
510                3
516                2
505                2
521                1
Name: count, dtype: int64

In [4]:
df["floor"].value_counts()

floor
5th        410
2nd,5th     41
Name: count, dtype: int64

# Feature engineering: observing the duration