In [1]:
import pandas as pd
df = pd.read_csv('../Dataset/BLE_Test_predict.csv')

In [2]:
df.head()

   Unnamed: 0  user_id            timestamp  mac address  RSSI       power
0         766       90  2023-04-14 10:01:40            7   -97 -2147483648
1         764       90  2023-04-14 10:01:40            7   -97 -2147483648
2         765       90  2023-04-14 10:01:40            7   -97 -2147483648
3         762       90  2023-04-14 10:01:40            7   -97 -2147483648
4         761       90  2023-04-14 10:01:40            7   -97 -2147483648

In [8]:
'''
As with training data, we never detected the beacons 24 and 25, now we would check with the real 
testing data whether these 2 beacons have ever been detected
'''
check_df_24 = df[df['mac address'] == 24]
print(check_df_24.shape)

check_df_25 = df[df['mac address'] == 25]
print(check_df_25.shape)

(0, 6)
(0, 6)

Okay so now we do not need to clean or perform any things related to the test data, lets make some observations now

In [10]:
df.shape

(62222, 6)

In [12]:
# Convert timestamp column to datetime
df["timestamp"] = pd.to_datetime(df["timestamp"])

# Number of unique days in the dataset
num_days = df["timestamp"].dt.date.nunique()

print("Number of days in df:", num_days)

Number of days in df: 1