# Firstly merge all of these splitted csv files together

In [12]:
import os
data_path = "../Dataset/BLE Data"
file_list = os.listdir(data_path)

In [13]:
import pandas as pd

In [14]:
#Load all the data with columns in the csv
csv_data = []
for csv_file in file_list:
  csv_data.append(pd.read_csv(os.path.join(data_path,csv_file),names=['user_id','timestamp','name', 'mac address', 'RSSI', 'power']))

#Concate all the data
df = csv_data[0]
for i in range(1,len(csv_data)):
  df = pd.concat([df,csv_data[i]])

print(df.shape)
df.head(5)

(5005751, 6)

,user_id,timestamp,name,mac address,RSSI,power
0,90,2023-04-10T10:22:55.589+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
1,90,2023-04-10T10:22:55.595+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
2,90,2023-04-10T10:22:55.601+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
3,90,2023-04-10T10:22:55.605+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
4,90,2023-04-10T10:22:55.609+0900,NaN,D2:1C:25:72:FB:E3,-62,-2147483648

In [ ]:
# Save this fucking huge merged csv file for future use / no need to concatenate each time we 
# need to use ble data (15mins for the above cell of merging to execute)
df.to_csv("../cleaned_dataset/cleaned_ble_data.csv")