In [1]:
import pandas as pd
df = pd.read_csv("../cleaned_dataset/cleaned_ble_data.csv")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3624\1192556302.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../cleaned_dataset/cleaned_ble_data.csv")

In [2]:
df.head()

,Unnamed: 0,user_id,timestamp,name,mac address,RSSI,power
0,0,90,2023-04-10T10:22:55.589+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
1,1,90,2023-04-10T10:22:55.595+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
2,2,90,2023-04-10T10:22:55.601+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
3,3,90,2023-04-10T10:22:55.605+0900,NaN,FD:07:0E:D5:28:AE,-75,-2147483648
4,4,90,2023-04-10T10:22:55.609+0900,NaN,D2:1C:25:72:FB:E3,-62,-2147483648