In [1]:
import pandas as pd 
df = pd.read_csv("../cleaned_dataset/labelled_ble_data.csv")

In [2]:
df.head()

                   timestamp  mac address  RSSI     room
0  2023-04-10 14:21:46+09:00            6   -93  kitchen
1  2023-04-10 14:21:46+09:00            6   -93  kitchen
2  2023-04-10 14:21:46+09:00            6   -93  kitchen
3  2023-04-10 14:21:46+09:00            6   -93  kitchen
4  2023-04-10 14:21:46+09:00            6   -93  kitchen