In [26]:
import pandas as pd
label_df = pd.read_csv('../cleaned_dataset/cleaned_label_loc.csv')

In [27]:
label_df.head()

                  started_at                finished_at           room floor
0  2023-04-10 14:21:46+09:00  2023-04-10 14:21:50+09:00        kitchen   5th
1  2023-04-10 14:21:55+09:00  2023-04-10 14:22:16+09:00      cafeteria   5th
2  2023-04-10 14:22:23+09:00  2023-04-10 14:23:25+09:00        kitchen   5th
3  2023-04-10 14:23:29+09:00  2023-04-10 14:23:44+09:00       cleaning   5th
4  2023-04-10 14:23:42+09:00  2023-04-10 14:24:05+09:00  nurse station   5th

In [28]:
all_rooms = list(label_df['room'].unique())
print(sorted(all_rooms))

['501', '502', '503', '505', '506', '508', '510', '511', '512', '513', '515', '516', '517', '518', '520', '521', '522', '523', 'cafeteria', 'cleaning', 'hallway', 'kitchen', 'nurse station']

### Note: room 507 never appear in training data

In [36]:
ble_df = pd.read_csv('../cleaned_dataset/labelled_ble_data.csv')
all_beacon = list(ble_df['mac address'].unique())

In [37]:
print(sorted(all_beacon))

[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21), np.int64(22), np.int64(23)]

In [38]:
for i in range (1, 26):
    if i not in all_beacon:
        print(i)

24
25

### Note: in the final csv data we use for creating model, beacon 24 and 25 never appear