In [26]:
import pandas as pd
label_df = pd.read_csv('../cleaned_dataset/cleaned_label_loc.csv')

In [27]:
label_df.head()

                  started_at                finished_at           room floor
0  2023-04-10 14:21:46+09:00  2023-04-10 14:21:50+09:00        kitchen   5th
1  2023-04-10 14:21:55+09:00  2023-04-10 14:22:16+09:00      cafeteria   5th
2  2023-04-10 14:22:23+09:00  2023-04-10 14:23:25+09:00        kitchen   5th
3  2023-04-10 14:23:29+09:00  2023-04-10 14:23:44+09:00       cleaning   5th
4  2023-04-10 14:23:42+09:00  2023-04-10 14:24:05+09:00  nurse station   5th

In [28]:
all_rooms = list(label_df['room'].unique())
print(sorted(all_rooms))

['501', '502', '503', '505', '506', '508', '510', '511', '512', '513', '515', '516', '517', '518', '520', '521', '522', '523', 'cafeteria', 'cleaning', 'hallway', 'kitchen', 'nurse station']

### Note: room 507 never appear in training data

In [36]:
ble_df = pd.read_csv('../cleaned_dataset/labelled_ble_data.csv')
all_beacon = list(ble_df['mac address'].unique())

In [37]:
print(sorted(all_beacon))

[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21), np.int64(22), np.int64(23)]

In [38]:
for i in range (1, 26):
    if i not in all_beacon:
        print(i)

24
25

### Note: in the final csv data we use for creating model, beacon 24 and 25 never appear

In [40]:
# now check again the rooms in labelled data we have 
all_rooms_labelled_ble_data = list(ble_df['room'].unique())
print(sorted(all_rooms_labelled_ble_data))

['501', '502', '503', '505', '506', '508', '510', '511', '512', '513', '515', '516', '517', '518', '520', '522', '523', 'cafeteria', 'cleaning', 'hallway', 'kitchen', 'nurse station']

In [43]:
for room in all_rooms: 
    if room not in all_rooms_labelled_ble_data:
        print(room)

521

### So we can see that in our final version of csv data for model building: we do not have 2 rooms: 507 and 521, and also the 2 beacons 24 and 25 never appear

In [46]:
# Now we would check the distribution of beacon detection among each rooms
for room in all_rooms_labelled_ble_data:
    temp_df = ble_df[ble_df['room'] == room]
    print("=" * 80)
    print("Here is the value count for room " + room)
    print(temp_df['mac address'].value_counts())
    print("\n")

================================================================================
Here is the value count for room kitchen
mac address
14    88108
4     56767
6      8027
9      4180
7      1397
5      1362
18     1243
19     1158
20      828
8       732
10      668
21      583
22      445
11      390
23      353
12      153
17      110
3        35
2        18
16       12
15        6
13        6
Name: count, dtype: int64


================================================================================
Here is the value count for room cafeteria
mac address
4     64803
14    56999
9     26420
6     10957
7      9059
19     8838
18     7130
20     3709
8      3543
10     1854
21     1767
5      1690
11     1645
22      840
23      538
12      160
17      106
3       105
13      104
16       91
15       51
2        24
Name: count, dtype: int64


================================================================================
Here is the value count for room cleaning
mac address
19    7626
4     3412
9     3367
18     835
5      656
6      576
7      527
20     410
8      314
17     202
10      55
11      41
22      36
3       24
16      24
14      12
21       6
Name: count, dtype: int64


================================================================================
Here is the value count for room nurse station
mac address
9     194769
4     110662
7      81280
19     52033
18     25604
8      19040
20     16039
6       8315
10      6559
11      4906
21      4855
14      3820
5       3495
22      1826
23      1691
12       353
17       235
13        48
3         48
16        48
2          9
Name: count, dtype: int64


================================================================================
Here is the value count for room hallway
mac address
20    7572
8     7553
18    6714
10    6506
9     6103
11    5827
21    5498
22    3715
7     2756
4     2258
5     2039
23    1656
19    1425
6     1315
16    1213
17    1185
3     1146
2      765
13     633
15     613
12     404
1      293
14     271
Name: count, dtype: int64


================================================================================
Here is the value count for room 501
mac address
15    1395
13    1019
1      889
16     299
3      261
2      146
5       34
Name: count, dtype: int64


================================================================================
Here is the value count for room 506
mac address
19    2958
6     1788
5     1202
9      411
17     167
4      147
16      40
14      23
15       6
7        6
Name: count, dtype: int64


================================================================================
Here is the value count for room 520
mac address
8     3148
20    2206
10    1860
18    1158
21     640
22     444
11     432
7      353
9      154
23      30
12      23
4       18
Name: count, dtype: int64


================================================================================
Here is the value count for room 511
mac address
9     2115
21    1598
4     1224
7     1132
22     995
20     721
10     660
11     535
18     450
19     342
8      314
6      306
23     120
16      18
12      17
Name: count, dtype: int64


================================================================================
Here is the value count for room 523
mac address
23    8765
12    5335
11    5189
22    4778
21    2592
10    1655
20    1260
8     1009
18     721
9      200
14     168
7      167
4      114
19      12
6       12
5        6
Name: count, dtype: int64


================================================================================
Here is the value count for room 516
mac address
16    615
2     477
3     400
5     237
15    201
13    194
17    183
6     132
1      42
Name: count, dtype: int64


================================================================================
Here is the value count for room 508
mac address
20    570
8     153
18    108
21     42
11     36
10     18
7      12
23      6
9       6
Name: count, dtype: int64


================================================================================
Here is the value count for room 512
mac address
23    4793
12    1265
22    1125
21     435
11     334
10     318
20     297
18     297
8      223
7      203
9      118
Name: count, dtype: int64


================================================================================
Here is the value count for room 522
mac address
22    2394
11    2009
10     963
21     727
23     693
20     539
18     414
8      396
12     378
9      225
7      222
4       18
19      18
Name: count, dtype: int64


================================================================================
Here is the value count for room 502
mac address
16    464
3     446
17    361
2     278
15    230
5     158
13     89
1      58
6      24
9      18
Name: count, dtype: int64


================================================================================
Here is the value count for room 518
mac address
18    207
8     156
7      90
20     87
9      51
10     48
21     36
11     33
22     18
Name: count, dtype: int64


================================================================================
Here is the value count for room 513
mac address
13    2810
19    2054
1     1979
15    1942
2     1468
3     1166
16    1073
5      720
4      494
17     406
9      364
6      327
14      26
Name: count, dtype: int64


================================================================================
Here is the value count for room 517
mac address
5     405
17    321
3     266
6     248
16    105
2      83
15     34
19     22
13     22
14     17
9       6
Name: count, dtype: int64


================================================================================
Here is the value count for room 515
mac address
15    993
2     731
1     612
3     515
13    483
16    261
5     153
6     129
17    123
4     102
9      54
14     36
7      18
19     18
Name: count, dtype: int64


================================================================================
Here is the value count for room 503
mac address
16    474
17    393
3     201
2     147
5     123
15    114
13     87
6      45
19     33
9      12
Name: count, dtype: int64


================================================================================
Here is the value count for room 505
mac address
5     102
17    102
16     90
15     84
13     71
2      60
6      58
3      36
1      30
9      18
19     12
18      6
8       6
4       6
Name: count, dtype: int64


================================================================================
Here is the value count for room 510
mac address
21    108
22     96
20     72
11     30
10     18
18     12
23     12
8       6
Name: count, dtype: int64